.wrapper{
    background-color: #eee;
    font-family: 'Raleway','sans-serif';
    text-rendering: optimizeLegibility;
}

.container {
    background-color: #eee; 
}
.heading{
    background-color: #e67e22;
}
.table_row{
    background-color: #e9e8e8;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.336),rgba(0,0,0,0.7)), url(../../static/headerimage.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}